# Ignora node_modules y vendor
node_modules
vendor

# Ignora archivos sensibles y temporales
.env
*.log
*.key

# NO ignores storage/framework/views ni otras carpetas necesarias
# Por eso, se incluyen de forma explícita (¡clave para evitar errores!)
!storage/
!storage/framework/
!storage/framework/cache/
!storage/framework/sessions/
!storage/framework/views/
!storage/logs/

# Ignora almacenamiento público si se usa symbolic link
public/storage
